<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Udit Jain",
  "url": "https://udit01.github.io",
  "image": "https://udit01.github.io/assets/img/about/about.jpg",
  "jobTitle": "Computer Vision Engineer",
  "worksFor": {
    "@type": "Organization",
    "name": "Samsung Research"
  },
  "alumniOf": {
    "@type": "EducationalOrganization",
    "name": "Indian Institute of Technology, Delhi"
  },
  "sameAs": [
    "https://github.com/udit01",
    "https://www.linkedin.com/in/uditjainiitd/"
    // Add other social media profiles
  ]
}
</script>
